/*css general */
body {
	font-family: 'Lato', sans-serif;
	color: #747704;
}

/*css for texts */
.text-thin {
	font-weight: 100;
}

.text-secondtitle {
	padding-left:2%;
	color: #BABABA;
	font-weight:400;
	font-size: 38px;
	margin-top: 1em;
}

.text-link {
	color: #747704;
	font-size: 16px;
	padding: 1em;
	font-weight: 100;
}


.title-super {
	font-size: 60px

}

.description-project {
	font-size: 38px;
	font-weight: 400;
	color: #747704;
}

.subtitle {
	font-weight: 300;
	font-size: 22px;
}

/*css for images */
.title-logo {
	margin-top: 1.5em;
}

/*css for other elements */

hr {
    border: none;
    height: 5px;
    color: #BCBBBB; /* old IE */
    background-color: #BCBBBB; /* Modern Browsers */
    margin-top: 0.2em;
    margin-bottom: 2.2em;
}